*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --nav-background: #0077B6;
    --body-background: #E1ECF7;
    --box-background: #F8F9FB;
    --header-text: #AECBEB;
    --text-color: #71A5DE;
    --black-text: black;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: var(--body-background);
}


 /* header section style start */

 #header-section{
    height:60px;
    background-color: var(--nav-background);
    padding:0 40px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 1;
}

/* my logo style start */

#logo-countainer{
    width:61px;
    height:30px;
    background-color: transparent;
    position: absolute;
    top:15px;
    left:15px;
}

.boxes{
    width:27px;
    height:30px;
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap:3px;
    background-color: transparent;
}

.box{
    width:12px;
    height:12px;
}

.box-1{
    border-radius: 0 2px;
    background-color: rgb(20, 20, 206);
}

.box-2{
    border-radius: 2px 0;
    background-color: rgb(250, 250, 10);
}

.box-3{
    border-radius: 2px 0;
    background-color: rgb(228, 60, 8);
    position:relative;
    bottom:1px;
}

.text-box{
    color: aqua;
    text-shadow: 1px 1px black;
    font-weight:600;
    font-size:6px;
    font-family:sans-serif ,'Times New Roman', Times, serif;
    position:relative;
    left:15px;
    bottom:10px;
}

/* my logo style end */
/* navbar style start */

#navbar{
    display: none;
}

@media (min-width:800px){
    #navbar{
        display: block;
    }

.nav-link {
    position: relative;
    font-size:1em;
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 20px;
    transition:  .5s;
}

.nav-link:hover {
    color: var(--header-text);
}

.nav-link span {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent;
    border-bottom: 2px solid var(--header-text);
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;
}

.nav-link:hover span {
    transform: scale(1) translateY(0);
    opacity: 1;
}

.nav-link:active{
    color: var(--header-text);
}
}

/* navbar style end */
/* header section style end */


/* welcome section main style start */
/* mobile welcome section style start */

#welcome-section{
    width: 100%;
    height: 100vh;
    display: block;
    display: flex;
    justify-content: center;
    background: url(welcome-image.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: var(--header-text);
}

.welcome{
    font-size: 4rem;
}

.left{
    width:50%;
    height:100vh;
    background-color: transparent;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    animation: slideInLeft 2s ease-in-out;
}

@keyframes slideInLeft {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.right{
    width:50%;
    height:100vh;
    background-color: transparent;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    animation: slideInRight 2s ease-in-out;
}

@keyframes slideInRight {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

/* mobile welcome section style end */
/* after 650px welcome section style start */

@media (min-width:650px){
    .welcome{
        font-size: 7rem;
    }
}

/* after 650px welcome section style end */
/* welcome section main style end */

/* gap div style start */
.gap-div{
    width:100%;
    height:100px;
}
/* gap div style end */

/* about section main style satrt */

.about-header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: var(--header-text);
}

/* mobile about section style start */
.about-section{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:10px;
    animation: appear 1s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

.image{
    width:280px;
    height:380px;
    margin:20px auto;
    border-radius: 15px;
    animation: appear 1s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

.image img{
    width:100%;
    border-radius: 15px;
    box-shadow: 6px 6px rgba(0, 0, 0, .4);
}

.pera-1,.pera{
    width:320px;
    text-align: center;
    padding:10px;
    border-radius: 10px;
    box-shadow: 6px 6px rgba(0, 0, 0, .4);
    background-color: var(--box-background);
    color: var(--text-color);
    margin:10px auto;
    animation: appear 1s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

.pera-1 span{
    color: var(--nav-background);
    text-decoration: underline;
}

@keyframes appear {
    from{
        opacity: 0;
        scale:0.5;
    }
    to{
        opacity: 1;
        scale:1;
    }
}

/* mobile about section style end */
/* after 800px about section style start */

@media (min-width:800px){
    .about-secttion{
        width:100%;
        height:100vh;
        background-color: transparent;
        display:flex;
        justify-content: center;
        align-items: center;
        gap:20px;
        overflow-x: visible;
    }
    
    .s-up{
        width:50%;
        height:100vh;
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: transparent;
        animation: slideInLeft linear;
        animation-timeline: view();
        animation-range: entry 0 cover 40%;
    }

    .pera-1{
        width:450px;
        text-align: center;
        margin:13px auto;
        padding:10px;
        border-radius: 10px;
        box-shadow: 6px 6px rgba(0, 0, 0, .4);
        background-color: var(--box-background);
        color: var(--text-color);
        animation: slideInLeft 1s linear;
        animation-timeline: view();
        animation-range: entry 0 cover 10%;
    }
    
    @keyframes slideInLeft {
        0%{
            transform: translateX(-100%);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
    
    .s-down{
        width:50%;
        height:100vh;
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:20px;
        padding:20px 0;
        background-color: transparent;
        animation: slideInRight 1s linear;
        animation-timeline: view();
        animation-range: entry 0 cover 40%;
    }

    .pera{
        width:450px;
        text-align: center;
        padding:10px;
        border-radius: 10px;
        box-shadow: 6px 6px rgba(0, 0, 0, .4);
        background-color: var(--box-background);
        color: var(--text-color);
        animation: slideInRight 1s linear;
        animation-timeline: view();
        animation-range: entry 0 cover 10%;
    }

    .pera-2{
        animation: slideInRight 1s linear;
        animation-timeline: view();
        animation-range: entry 0 cover 30%;
    }
    
    @keyframes slideInRight {
        0%{
            transform: translateX(100%);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
}

/* after 800px about section style end */
/* about section main style end */
/* skils section main style start */
/* mobile skils section style start */

#skils-section{
    width:100%;
}

#skils-header{
    width:100%;
    text-align: center;
    color: var(--header-text);
    font-size:3rem;
}

.skils-box{
    width:300px;
    height:300px;
    background-color: var(--box-background);
    color: var(--text-color);
    margin: 30px auto;
    padding:20px 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px rgb(0, 0, 0, .4);
    animation: appear 1s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.skils-box h1{
    color: var(--header-text);
    font-weight: 800;
    font-size: 2rem;
}

.rank-box{
    width:100%;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 10px;
}

.skils-rank{
    width:100%;
    height:10px;
    background-color: var(--header-text);
    border-radius: 5px;
    padding:1.5px 0 1.5px 1px;
}

.skils-html .skils-rank>div{
    height: 7px;
    border-radius: 5px 0 0 5px ;
    animation: skils-html 3s forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

@keyframes skils-html {
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 95%;
        opacity: 1;
        background-color: var(--nav-background);
    }
}

.skils-css .skils-rank>div{
    height: 7px;
    border-radius: 5px 0 0 5px ;
    animation: skils-css 3s forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

@keyframes skils-css {
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 85%;
        opacity: 1;
        background-color: var(--nav-background);
    }
}

.skils-javascript .skils-rank>div{
    height: 7px;
    border-radius: 5px 0 0 5px ;
    animation: skils-javascript 3s forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

@keyframes skils-javascript {
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 1%;
        opacity: 1;
        background-color: var(--nav-background);
    }
}

/* mobile skils section style end */
/* after 950px skils section style start */

@media (min-width:900px){
#skils-section{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#skils-header{
    height:20vh;
}

.skils-main{
    width:90%;
    height:80vh;
    display: flex;
}

.skils-html{
    align-self: flex-start;
}

.skils-css{
    align-self: center;
}

.skils-javascript{
    align-self: flex-end;
}

}

/* after 950px skils section style end */
/* skils section main style end */
/* project section main style start */
/* mobile project section style start */

.project-left{
    width: 100%;
    height: 500px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
    background-color: var(--body-background);
}

.project-right{
    display: none;
}

.project-header{
    font-size: 2.5rem;
    color: var(--header-text);
    text-align: center;
}

.project-pera{
    text-align: center;
    color: var(--text-color);
}

.project-link{
    color: var(--header-text);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding:10px 15px;
    border-radius: 8px;
}

.project-link:hover{
    color: var(--text-color);
    background-color: var(--nav-background);
    animation: scaleUp 1s forwards;
}

@keyframes scaleUp {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/* mobile project section style end */
/* after project section style start */

@media (min-width:800px){
    #project-section{
        width: 100%;
        height:100vh;
    }

    .project-main{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background: url(preject-image-1.jpeg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

    .project-left{
        width: 30%;
        height: 50vh;
        background: none;
        background-color: var(--body-background);
        border-radius: 0 20% 20% 0;
    }

    .project-right{
        display: block;
        width: 50%;
        height: 100vh;
        background: transparent;
    }
}

/* after project section style start */
/* project section main style start */
/* contact section main style start */
/* form section style end */

#form{
    padding:20px 0;
    margin: 0 auto;
    width:320px;
    height:500px;
    background-color: var(--box-background);
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 25px;
    box-shadow: 6px 6px rgba(0, 0, 0, .4);
}

label{
    font-size: 18px;
    color: var(--text-color);
}

input{
    width:250px;
    font-size: 16px;
    text-indent: 10px;
    color: var(--nav-background);
    background-color: var(--body-background);
    border: 1px solid var(--body-background);
    border-radius: 5px;
}

.form{
    width: 250px;
    height:60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:5px auto;
}

textarea{
    color: var(--black-text);
    width:250px;
    font-size: 16px;
    text-indent: 10px;
    padding-top: 5px;
    background-color: var(--body-background);
    border: 1px solid var(--body-background);
    border-radius: 5px;
}

.reset-submit{
    width: 250px;
    height: 30px;
    margin:20px auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#reset,#submit{
    width: 100px;
    height: 30px;
    background-color: var(--nav-background);
    color: var(--header-text);
}

#reset:hover,#submit:hover{
    background-color: var(--header-text);
    color: var(--nav-background);
}

#reset{
    align-self: flex-start;
    width:100px;
}

#submit{
    align-self: flex-end;
    width:100px;
}

/* form section style end */
/* profile section style start */

#profile-div{
    width: 320px;
    height: 500px; 
    margin: 0 auto;
    padding: 50px 0;
}

/* my logo section style start */
/* my logo style star */

#logo-countainer-0{
    width:255px;
    height:155px;
    background-color: transparent;
    margin: 0 auto;
}

.boxes-0{
    width:155px;
    height:155px;
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap:3px;
    background-color: transparent;
}

.box-0{
    width:75px;
    height:75px;
}

.box-01{
    border-radius: 0 15px;
    background-color: rgb(20, 20, 206);
}

.box-02{
    border-radius: 15px 0;
    background-color: rgb(250, 250, 10);
}

.box-03{
    border-radius: 15px 0;
    background-color: rgb(228, 60, 8);
    position:relative;
    bottom:1px;
}

.text-box-0{
    color: aqua;
    text-shadow: 1px 1px black;
    font-weight:600;
    font-size:1.5rem;
    font-family:sans-serif ,'Times New Roman', Times, serif;
    position:relative;
    left:76px;
    bottom:30px;
}

/* my logo style end */
/* profile section style start */

.profile{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin-top: 50px;
}

.profile-header{
    font-size:2.5rem;
    color: var(--header-text);
    text-align:center;
    font-family:arial,sans-serif;
}

.link-section{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:20px;
    margin:30px auto;
}

.profile-link{
    color: var(--text-color);
    font-size:1.3rem;
    text-decoration:none;
    padding:5px 10px;
    position:relative;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.profile-link:hover{
    font-size:1.6rem;
    animation: scaleUp 1s linear;
    color: var(--nav-background);
    font-weight: bold;
}

@keyframes scaleUp {
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.profile-icon{
    color: var(--nav-background);
}

/* profile section style end */

@media (min-width:800px){
    #contact-section{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    #form-div{
        width: 50%;
        height: 100vh;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    #form{
        animation: slideInUp 1s linear;
        animation-timeline: view();
        animation-range: entry 0 cover 50%;
    }

    @keyframes slideInUp {
        0%{
            transform: translateY(100%);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }

    #profile-div{
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/* contact section main style end */
/* footer section style start */

footer{
    width:100%;
    height:15vh;
    display:flex;
    justify-content: flex-end;
    padding:25px;
    background-color: var(--nav-background);
    color: var(--text-color);
}

dd{
    margin-left:40px;
}

.footer-list a{
    color: aqua;
    text-decoration:none;
}

/* footer section style end */
